div{
    background-color: aquamarine;
}
body, h1{
    padding: 0;
    margin: 0;
}

.up{
    background-color: red;

}

.mid{
    background-color: blue;
    position: relative;
    left: 400px;
    bottom: 200px;
}

.down{
    background-color: green;
    position: relative;
    left: 200px;
    bottom: 400px;
}

.down, .up, .mid{
    height: 200px;
    width: 200px;
}