body{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather';
}

h1{
    font-family: 'Sacramento';
    font-size: 5rem;
    margin: 0;
}

h1, h2{
    color: #66BFBF;
}

h3{
    color: #11999E;
}

h2, h3{
    font-family: 'Montserrat';
    font-weight: normal;
}

h2{
    font-family: 2.5rem;
}

span{
    text-decoration: underline;
}

.skill-row{
    text-align: left;
    line-height: 2;
}
.top-container{
    position: relative;
    background-color:azure;
    padding-top: 100px;
}

.feature-container{
    margin: 40px;
}

hr{
    border-style: dotted none none none;
    border-width: 10px;
    width: 15%;
    border-color: gray;
}

.cloud{
    position: absolute;
}

.top-cloud{
    right: 25%;
}

.bottom-cloud{
    left: 25%;
}

.monetization{
    float: left;
    margin-right: 30px;
}

.liveops{
    float: right;
    margin-left: 30px;
}

.avatar{
    border-radius: 25%;
}

.feature{
    height: 150px;
}

.profile, .contact-me, .skill-row{
    width: 50%;
    margin: auto;
    padding: 50px 0;
}

.btn {
    background: #66BFBF;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.before-button{
    margin-bottom: 50px;
}
  
.btn:hover {
background: gray;
text-decoration: none;
}

.bottom-container{
background-color: #66BFBF;
padding: 50px;
color: white;
}

a{
    text-decoration: none;
    padding: 0 50px;
    color: white;

}