body{
    padding: 0;
    margin: 0;
    text-align: center;
    background-color:azure;
    font-family: 'Merriweather';
}

h1{
    font-family: 'Sacramento';
    font-size: 5rem;
    margin: 100 auto 0 auto;
}

h1, h2{
    color: #66BFBF;
}

h3, a{
    color: #11999E;
}

h2, h3{
    font-family: 'Montserrat';
    font-weight: normal;
}

h2{
    font-family: 2.5rem;
}

span{
    text-decoration: underline;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
.top-container{
    position: relative;
    padding: 100px;
}

.cloud{
    position: absolute;
}

.top-cloud{
    right: 200px;
}

.bottom-cloud{
    left: 200px;
}

.feature-first{
    height: 100px;
    float: left;
    margin-right: 30px;
}

.feature-second{
    height: 100px;
    float: right;
    margin-left: 30px;
}
.avatar{
    width: 15%;
    border-radius: 25%;
}
